@using EBookOnlineBookOrderingSystem.Models;

@model HomeModel

@{
    ViewBag.Title = "EBook-Home Page";

}

<div class="Content">


    <style>
        #pagebar {
            display: flex;
            justify-content: center;
            margin: 10px;
        }

        #pagebar-index a {
            margin: 10px;
            text-decoration: none;
            color: black;
            font-size: 20px;
            font-family: Arial;
            font-weight: bold;
        }

        #pagebar-index-active a {
            margin: 10px;
            text-decoration: none;
            color: dodgerblue;
            font-size: 20px;
            font-family: Arial;
            font-weight: bold;
        }
    </style>

    <div class="jumbotron">
        <h1>E-Book</h1>
        <p class="lead">E-Book is Online Book ordering Plateform</p>
        <nav class="navbar navbar-light bg-light">
            <p id="Search">

                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.TextBoxFor(model => model.Serach)
                    <input id="Save-btn" type="submit" value="Search" class="btn btn-default" />
                }
            </p>
        </nav>
    </div>

    <style>
        .scroll-container {
            height: 400px;
            overflow-y: scroll;
        }

            .scroll-container::-webkit-scrollbar {
                width: 12px;
            }

            .scroll-container::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            .scroll-container::-webkit-scrollbar-thumb {
                background: #888;
            }

                .scroll-container::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

            .scroll-container::-webkit-scrollbar-button {
                display: none;
            }
    </style>

    <div class="row">
        <div class="scroll-container">
            <h2>Most View Books</h2>
            @foreach (var book in Model.Books.Items)
            {
                <div class="col-md-4">
                    <div class="BookTag">

                        <h1>@book.Book.name</h1>
                        <img class="sup" src="@Url.Content(book.ImgPath)" />
                        <p>
                            @book.Book.description
                        </p>
                        <div>
                            <div class="Price">
                                <h2>@book.Book.price.00/=</h2>

                            </div>
                        </div>
                        @Html.ActionLink("View", "ViewBook", new { id = book.Book.id }, new
                        {
                            @class = "btn btn-default"
                        })
                    </div>

                </div>

            }
        </div>
        <div id="pagebar">
            @foreach (var pagebar in Model.Books.PageBarList)
            {
                if (pagebar.Active)
                {
                    <div id="pagebar-index-active">
                        @Html.ActionLink(pagebar.PageNumber.ToString(), "PageMove", new { PageNumber = pagebar.PageNumber.ToString() })
                    </div>
                }
                else
                {

                    <div id="pagebar-index">
                        @Html.ActionLink(pagebar.PageNumber.ToString(), "PageMove", new { PageNumber = pagebar.PageNumber.ToString() })
                    </div>
                }

            }
        </div>
    </div>
</div>