@model IEnumerable<EBookOnlineBookOrderingSystem.Models.Table.MOrder>

@{
    ViewBag.Title = "OrderList";
}

<h2>List of order</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paymenttype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paymentdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Feedback)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paymenttype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paymentdate)
        </td>
        <td>
            @{ var val = item.Status == 1 ? "Complete" : item.Status == 2 ? "Pending" : "Cancel";}
            <label>@val</label>
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Feedback)
        </td>*@
        <td>
            @Html.ActionLink("View Order", "ViewOrder", new { id=item.id }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.id })*@
        </td>
    </tr>
}

</table>
