@model EBookOnlineBookOrderingSystem.Models.PlaceAddToCardItems

@{
    ViewBag.Title = "ViewMoreAllAddtoCart";
}

<h2>ViewMoreAllAddtoCart</h2>

<style>
    .disable-border{
        border-color:transparent;
    }
    .disable-border:active {
            border-color: transparent;
    }
</style>

<p>
    @Html.ActionLink("Palce order", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <input 
             data-val="true"
             @*data-val-required="The isActive field is required."*@
             id="isActiveAll"
             name="isActiveAll"
             type="checkbox" />
        </th>
        <th>
            ID
        </th>

        <th>
            Book Name
        </th>
        <th>
            Quantity
        </th>

        <th>
            Price
        </th>

        <th></th>
    </tr>

@foreach (var item in Model.AddToCardItems) {
<tr>

    <td>
        <input data-val="true"
               id="isActive"
               name="isActive"
               type="checkbox"
               value="@item.IsActive" />
    </td>

    <td>
        @Html.TextBoxFor(modelItem => item.AddToCard.id, htmlAttributes: new { @readonly = true, @class = "disable-border", Style = "width:20px;" })
    </td>
    <td>
        @Html.TextBoxFor(modelItem => item.AddToCard.name, htmlAttributes: new { @readonly = true, @class = "disable-border", Style = "width:200px;" })
    </td>
    <td>
        @Html.TextBoxFor(modelItem => item.AddToCard.quantity, htmlAttributes: new { @readonly = true, @class = "disable-border", Style = "width:25px;" })
    </td>
    <td>
        @{ var totalprice = item.AddToCard.price * item.AddToCard.quantity; }
        <label>@totalprice</label>
    </td>
</tr>
}

</table>

