@using EBookOnlineBookOrderingSystem.Models.Table
@using EBookOnlineBookOrderingSystem.Controls
@model EBookOnlineBookOrderingSystem.Models.Procedure.Spr_GetBookInfo

@{
    ViewBag.Title = "View";
}

<h2>@Html.DisplayFor(model => model.name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catergoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catergoryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @{
        if (SessionControls<Users>.GetValue("LoginUser") is Users LoginUser && !string.IsNullOrEmpty(LoginUser?.username))
        {

            @Html.ActionLink("Buy Now", "BuyNow", new { id = Model?.id })
            <label>|</label>
            @Html.ActionLink("Add to card", "Addtocard", new { id = Model?.id })
            <label>|</label>
        }

        @Html.ActionLink("Back to List", "Index")

    }


</p>
