@model EBookOnlineBookOrderingSystem.Models.PlaceAddToCardItems

@{
    ViewBag.Title = "ViewMoreAllAddtoCart";
}

<h2>ViewMoreAllAddtoCart</h2>

<style>
    .disable-border {
        border-color: transparent;
    }

        .disable-border:active {
            border-color: transparent;
        }
</style>


@using (Html.BeginForm("PlaceOrderAddToCart", "Home", FormMethod.Post))
{
    <input type="submit" value="Place order" />

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input data-val="true"
                           id="isActiveAll"
                           name="isActiveAll"
                           onclick="toggleCheckboxes(this)"
                           type="checkbox" />
                     <input name="AddToCardCount" value="@Model.AddToCardItems.Count" type="hidden" />
                </th>
                <th>
                    ID
                </th>

                <th>
                    Book Name
                </th>
                <th>
                    Quantity
                </th>

                <th>
                    Price
                </th>

                <th></th>
            </tr>

            </thead>

        <tbody>
           
            @foreach (var item in Model.AddToCardItems)
            {
                <tr>

                    <td>
                        <input data-val="true"
                               id="isActive"
                               name="[@item.CheckID]isActive"
                               type="checkbox"
                               onclick="updateMasterCheckbox()"
                               value="@item.CheckID" />
                    </td>

                    <td>
                        
                        <input name="[@item.CheckID]bid" value="@item.AddToCard.id" readonly class="disable-border" />
                        @*@Html.TextBoxFor(modelItem => item.AddToCard.id, htmlAttributes: new { @readonly = true, @class = "disable-border", Style = "width:20px;", @name = "[" + @item.CheckID + "]id" })*@
                    </td>
                    <td>
                        <input name="[@item.CheckID]name" value="@item.AddToCard.name" readonly class="disable-border" />
                        @*@Html.TextBoxFor(modelItem => item.AddToCard.name, htmlAttributes: new { @readonly = true, @class = "disable-border", Style = "width:200px;", name = "[" + @item.CheckID + "]name" })*@
                    </td>
                    <td>
                        <input name="[@item.CheckID]addcartQTY" value="@item.AddToCard.addcartQTY" readonly class="disable-border" />
                        @*@Html.TextBoxFor(modelItem => item.AddToCard.addcartQTY, htmlAttributes: new { @readonly = true, @class = "disable-border", Style = "width:25px;", name = "[" + @item.CheckID + "]addcartQTY" })*@
                    </td>
                    <td>
                        @{ var totalprice = item.AddToCard.price * item.AddToCard.addcartQTY; }
                        <input name="[@item.CheckID]totalprice" value="@totalprice" readonly class="disable-border"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>        
   
    }

