@model AdminDashboard.Models.Procedure.Spr_GetBookInfo

@{
    ViewBag.Title = "Details";
}


<style>
    .cart {
        background-color: wheat;
        display: flex;
        width:550px;
        height:300px;
        padding:10px;
        border-radius:5px;
    }

        .cart img {
            width: 180px;
            height: 180px;
        }

    #cont-body {
        margin: 10px;
    }

    #cont-head{
        display:flex;
        margin:10px;

    }
</style>

<h2>Details</h2>

<hr />

<div class="cart">

    <div id="cont-head" class="dl-horizontal">
        <img class="sup" src="@Url.Content(ViewBag.ImagePath)" />
    </div>


    <dl id="cont-body" class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catergoryname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catergoryname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
