<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;

        }

        .navbar {
            background-color: #333;
            color: white;
            padding: 1em 0;
            top: 0;
            width: 100vw;
        }

        .navbar-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 100vw;
            margin: 0 auto;
            padding: 0 1em;
        }


        .logo {
            display: flex;
            font-size: 25px;
        }
        .logo h1 {
            margin: 0;
           
        }

        .login {
            display: flex;
            align-items: center;
            
        }

            .login label {
                margin-right: 0.5em;
          
            }

            .login input[type="text"], .login input[type="password"] {
                padding: 0.5em;
                margin-right: 0.5em;
                border: none;
                border-radius: 0.25em;
            }

            .login button {
                padding: 0.5em 1em;
                background-color: #5cb85c;
                border: none;
                border-radius: 0.25em;
                color: white;
                cursor: pointer;
            }

                .login button:hover {
                    background-color: #4cae4c;
                }
    </style>

    <div class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <label>E-Book</label>
            </div>
            <div class="login">
                <label>Joyal</label>
            </div>
        </div>
    </div>


    <div id="snackbar">Notification Message</div>

    <div class="container">
        <div class="SiteBar">

            <ul>
                <li>@Html.ActionLink("Overview", "Index", "Home")</li>
                <li>@Html.ActionLink("Book Management", "Index", "Book")</li>
                <li>@Html.ActionLink("Author Management", "Index", "Author")</li>
                <li>@Html.ActionLink("Category Management", "Index", "Category")</li>
                <li>@Html.ActionLink("Order Managemet", "Index", "Order")</li>
                <li>@Html.ActionLink("Customer Managemet", "Index", "Customer")</li>
            </ul>

        </div>


        <div class="body-content">

            @RenderBody()
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - EBook Admin Dashbord</p>

    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $("document").ready(function () {
            $("#Search-Input").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#Search-Table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>

    @{ if (TempData["snackbar"] != null)
        {
            <script>
            $("document").ready(function ()
            {
               // Show the snack bar
                $('#snackbar').html("@TempData["snackbar"]");
                console.log($('#snackbar').html());
               $('#snackbar').addClass('show');

           });

            </script>

            TempData["snackbar"] = null;
        }
    }


    <script>
        $("document").ready(function () {

            // Set timeout to hide the snack bar after 3 seconds (adjust as needed)
            setTimeout(function () {
                $('#snackbar').removeClass('show');
            }, 3000); // 3000 milliseconds = 3 seconds
        });
    </script>



</body>
</html>
