<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">

        <div class="SiteBar">
            <div class="Logo">
                <label>E-Book</label>
            </div>
            <ul>
                <li>@Html.ActionLink("Overview", "Index", "Home")</li>
                <li>@Html.ActionLink("Book Management", "Index", "Book")</li>
                <li>@Html.ActionLink("Author Management", "Index", "Author")</li>
                <li>@Html.ActionLink("Category Management", "Index", "Category")</li>
                <li>@Html.ActionLink("Order Managemet", "Index", "Order")</li>
                <li>@Html.ActionLink("Customer Managemet", "Index", "Customer")</li>
            </ul>
        </div>

        <div class="body-content">
            <div class="content">
                @RenderBody()
            </div>
            <footer>
                <p>&copy; @DateTime.Now.Year - EBook Admin Dashbord</p>

            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
    $("document").ready(function () {
        $("#Search-Input").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#Search-Table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    </script>
</body>
</html>
