@model IEnumerable<AdminDashboard.Models.Table.Category>

@{
    ViewBag.Title = "Index";
}

<h2>List of Category</h2>

<p id="Create-btn">
    <i class='fa fa-plus'></i>
    @Html.ActionLink("Create", "Create")
</p>
<div id="scroll-container" class="comman-table">
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    <p id="Edit-btn">
                        <i class='fas fa-pencil-alt'></i>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    </p>
                </td>
                <td>
                    <p id="Info-btn">
                        <i class='fas fa-info'></i>
                        @Html.ActionLink("Details", "Details", new { id = item.id })
                    </p>
                </td>

                <td>
                    <p id="Delete-btn">
                        <i class='fa fa-trash'></i>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </p>
                </td>

            </tr>
        }

    </table>

</div>

